<mat-expansion-panel *ngFor="let element of data" class="panel" [attr.id]="element.id">
    <mat-expansion-panel-header>
        {{ element.title }}
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent class="btn-container">
        <button mat-button class="thing-btn" (click)="onAddThingNode(element.title, element.id)">{{ element.title }}</button>
        <button mat-button *ngFor="let action of getObjectEntries(element.actions); trackBy: trackByAction" class="action-btn"
            (click)="onAddActionNode(action, element.id)">{{ action[0] }}</button>
        <button mat-button *ngFor="let property of getObjectKeys(element.properties)" class="property-btn"
            (click)="onAddPropertyNode(property, element.id)">{{ property }}</button>
    </ng-template>
</mat-expansion-panel>